.gamer-layout-container {
  height: 100vh;
  .ant-layout {
    height: 100vh;
  }
  // .layout-container {
  //   height: 100vh;
  .gamer-sider {
    position: fixed;
    height: 100vh;
  }
  .gamer-layout-sider {
    .logo {
      height: 64px;
      overflow: hidden;
      color: white;
      font-size: 27px;
      padding: 12px;
    }
    .menu-list {
      .menu-item {
        margin: 20px 0;
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    height: 72px;
    .search-inputs {
      width: 70%;
      border-radius: 10px;
      height: 35px;
    }
    .profile-div {
      width: 100%;
      text-align: end;
    }
  }
  .gamer-content {
    padding-left: 227px;
    padding-top: 20px;
  }
  .gamer-layout-content {
  }
  .gamer-layout-footer {
  }
}
