  
  .set{
    align-content: center;
    
    .ant-descriptions-item-label{
      background-color: #3d4f66;
      color: aliceblue;
     margin-bottom: 30px;
    }
    
img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}}