.ant-btn-primary {
    background-color: #213956;
    border: #213956;
}

.create-campaign{
text-align: center;
padding: 20px;

align-content:space-between;
.camp-button{
    margin-left: 15px;
    background-color:#213956 ;
    border: #213956;
}
}
