
.row-info{
  padding: 10px;  

  
.col-b{
    padding: 20px;
    font-size: 15px;
    color: white;
    background: #213956;
    text-align:left;
    height: 60px;
   
}
}

.col-a{
 
  padding-left: 30px;
    font-size: 15px;
    height: 50px;
    padding-top: 13px;
    background: #575e68;
    text-align: left;
    
}

