.hello{
    text-align:center;
  
    padding: 12px;
    padding-left: 480px;
    font-size: 15px;
    color: white;
    background: #213956;
  
    height: 50px;}
.account-settings-container{
    border-style: solid;
    .account-settings{
       
.account{
    text-align: center;
    font-size: larger;
}}
.account-image {
 text-align: center;
 
 .upload-label{
    border-style: solid;
    margin: 30px;
    padding:5px;
    color: aliceblue;
    background-color:  #213956;
.file-choose{
    display: none;}
           }
  }
}
.move{margin-left: 90px;

}