.empty-container {
  height: 89vh;
  text-align: center;
  img {
    width: 400px;
    margin: auto;
    padding: 42px;
  }
  .empty-title {
    font-size: 23px;
    font-weight: 600;
    margin: 20px 0;
  }
}
